body{
    margin: 0;
}
.moklog {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: mediumpurple;
    list-style-type: none;

    padding-bottom: 10px;
    padding-top: 10px;

}




.menu{
    padding: 15px;
    cursor: pointer;
}
.menu a{
    text-align: end;
    text-decoration: none;
    color:aquamarine;

}


.menu:hover{
    background-color: grey;
}